<div class="row">
    <table class="table">
      <thead>
        <tr>
          <th style="width: 30%;">Username</th>
          <th style="width: 40%;">Active roles</th>
          <th style="width: 30%;"></th>
        </tr>
      </thead>
        
      <tbody>
        <tr *ngFor="let user of users">
          <td>{{user.username}}</td>
          <td>{{user.roles}}</td>
          <td><button class="btn btn-info" (click)="openRolesModal(user)">Edit Roles</button></td>
        </tr>
      </tbody>
       
    </table>
</div>
<div class="d-flex justify-content-center" *ngIf="pagination && pagination.totalItems >pagination.itemsPerPage">
  <pagination [boundaryLinks]="true"
              [totalItems]="pagination.totalItems"
              [itemsPerPage]="pagination.itemsPerPage"
              [(ngModel)]="pagination.currentPage"
              (pageChanged)="pageChanged($event)"
              [maxSize]="10"
              previousText="&lsaquo;"
              nextText="&rsaquo;"
              firstText="&laquo;"
              lastText="&raquo;">

  </pagination>
</div>
